<!-- Facebook検索 -->
<div id="searchFbPlace">
 <div id="searchByName">
登録するチェックインプレイスをFacebookから検索する。
  <%= form_tag(url_for(:action => 'search'), :remote => true, :id => "_search_name_form") do %>
登録名称で検索する： 名称を入力してください。</br>
   <%= text_field_tag :name,'', :size=>"60" %><%= submit_tag '名称で検索'%><br/><br/>
  <% end %>
 </div>
 <div id="searchByfbId">
  <%= form_tag(url_for(:action => 'search_by_fbid'), :remote => true, :class => "search_fbid_form") do %>
Facebook IDで検索する： FacebookアカウントのID（１２桁数字）を入力して検索してください。</br>
   <%= text_field_tag :id,'', :size=>"60" %><%= submit_tag 'IDで検索'%><br/><br/>
  <% end %>
 </div>
 <div id="searchByfbName">
  <%= form_tag(url_for(:action => 'search_by_fbid'), :remote => true, :id => "search_account_form") do %>
Facebook アカウントで検索する： Facebookアカウントの文字列を入力して検索してください。</br>
   <%= text_field_tag :id,'', :size=>"60" %><%= submit_tag 'IDで検索'%><br/><br/>
  <% end %>

 <!-- AJAX検索結果リスト表示 -->
 <div id="spin"></div>
 <div id="result"></div>
</div>

<!-- 入力情報 -->
<div class="field">
 <a name="input">
 <%= form_for(@checkin_item, :url => { :action => method, :access_key =>@checkin_item.access_key }) do |f| %>
  <%= f.hidden_field :fbUserId, :id=>'fbUserId' %>

  <div id="facebook_item">
   <p>選択したFacebookプレイス情報</p>
   <p>Name<%= f.text_field :fbName, :id=>'fbName', :size=>60, :readonly=>'true' %></p>
   <p>Category<%= f.text_field :fbCategory, :id=>'fbCategory', :size=>60, :readonly=>'true' %></p>
   <p>Country<%= f.text_field :fbCountry, :id=>'fbCountry', :size=>60, :readonly=>'true' %></p>
   <p>State<%= f.text_field :fbState, :id=>'fbState', :size=>60, :readonly=>'true' %></p>
   <p>City<%= f.text_field :fbCity, :id=>'fbCity', :size=>60, :readonly=>'true' %></p>
   <p>Street<%= f.text_field :fbStreet, :id=>'fbStreet', :size=>60, :readonly=>'true' %></p>
   <p>Title<%= f.text_field :title, :id=>'title', :size=>60, :readonly=>'true' %></p>
   <p>CheckinId<%= f.text_field :fbCheckinId, :id=>'fbCheckinId', :size=>60, :readonly=>'true' %></p>
  </div>
  <br/>
 
  <div id="place_item" class="item_contents">
   <p>登録情報</p>
   <p>アイテム名称（管理用） <%= f.text_field :item_name, :id=>'item_name' %></p>
   <br/>
   <p>チェックインクーポン情報</p>
   <p>表示タイトル<%= f.text_field :title, :id=>'title' %></p>
   <p><%= f.select :top_image_select,{"画像を使う"=>"1","テキストを使う"=>"2"}, :id=>"top_image_select" %></p>
   <p>画像１：店舗画像<%= f.file_field :top_image, :id=>"top_image" %></p>
   <p>画像１：店舗メッセージ<%= f.text_field :top_image_text, :id=>"top_image_text" %></p>
   <br/>

   <p><%= f.select :middle_image_select,{"画像を使う"=>"1","テキストを使う"=>"2"},:id=>"middle_image_select" %></p>
   <p>画像２：チェックインメッセージ画像<%= f.file_field :middle_image, :id=>"middle_image" %></p>
   <p>画像２：チェックインメッセージテキスト<%= f.text_field :middle_image_text, :id=>"middle_image_text" %></p>

   <p>チェックインコメントタイトル：<%= f.text_field :comment_title, :id=>"comment_title" %></p>
   <br/>

   <div class="item_contents_preview">
    プレビュー：place<br/>
    <iframe id="preview_place" scrolling="auto" height="500" width="320" bordercolor="black" src="<%= url_for :controller => "checkin",:action => 'preview_place',:access_key=>@checkin_item.access_key %>" ></iframe>
   </div>
  </div>

  <div id="docheckin_item" class="item_contents">
   <p><%= f.select :coupon_image_select,{"画像を使う"=>"1","テキストを使う"=>"2"},:id=>"coupon_image_select" %></p>
   <p>クーポン画像：<%= f.file_field :coupon_image,:id=>"coupon_image" %></p>
   <p>クーポンテキスト：<%= f.text_field :coupon_image_text,:id=>"coupon_image_text" %></p>

   <br/>
   <p>完了メッセージ<%= f.text_field  :comment_message,:id=>"comment_message" %></p>

   <div class="item_contents_preview">
    プレビュー：docheckin<br/>
    <iframe id="preview_docheckin" scrolling="auto" height="500" width="320" scrolling="no" bordercolor="black" src="<%= url_for :controller => "checkin",:action => 'preview_docheckin',:access_key=>@checkin_item.access_key %>" ></iframe>
   </div>
  </div>    

  <div id="fbwall_item" class="item_contents">
   <p>ウォール書き込み Message：<%= f.text_field :wall_message,:id=>"wall_message" %></p>
   <p>ウォール書き込み Name：<%= f.text_field :wall_name,:id=>"wall_name" %></p>
   <p>ウォール書き込み Link：<%= f.text_field :wall_link,:id=>"wall_link" %></p>
   <p>ウォール書き込み Caption：<%= f.text_field :wall_caption,:id=>"wall_caption" %></p>
   <p>ウォール書き込み Description：<%= f.text_field :wall_description,:id=>"wall_description" %></p>
   <p>ウォール書き込み 画像（省略の場合は、クーポン画像)：<%= f.file_field :wall_picture,:id=>"wall_picture" %></p>

   <div class="item_contents_preview">
    プレビュー：facebook投稿<br/>
    <iframe id="preview_facebook" height="200" width="320" scrolling="no" bordercolor="black" src="<%= url_for :controller => "checkin",:action => 'preview_facebook',:access_key=>@checkin_item.access_key %>" ></iframe>
   </div>
  </div>
  <%= f.submit submit_view(method) %>
 <% end %>
</div>

