<form action="<%= paypal_url %>" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="rails_env" value="<%= Rails.env %>">
<input type="hidden" name="hosted_button_id" value="<%= Checkpass::PAYPAL_ID %>">
<input type="hidden" name="on0" value="<%= access_key %>">
<input type="hidden" name="access_key" value="<%= access_key %>">
<input type="hidden" name="notify_url" value="<%= Checkpass::PAYPAL_NOTIFY_URL %>">
<input type="image" src="/img/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
</form>
