<% content_for :title do %>管理画面トップ<%end%>
<div class="container">
 <div class="contents">
<h1>チェックパス 登録情報</h1>
<h3>登録Facebookアカウント情報 <span class="sr">（編集不可）</span></h3>
<table class="shop-info" summary="登録Facebookアカウント情報">
  <tbody>
    <tr>
      <th>登録Facebookアカウント名</th>
      <td><%= @shop.fbName %></td>
    </tr>
  </tbody>
</table>

<h3>登録管理者情報 <span class="sr"> <%= link_to "編集", edit_manager_shop_admin_path %></span></h3>
<table class="shop-info" summary="登録情報">
  <tbody>
    <tr>
      <th>管理者名</th>
      <td><%= @shop.manager_name %></td>
    </th>
    <tr>
      <th>管理者連絡先メールアドレス</th>
      <td><%= @shop.manager_mail %></td>
    </tr>
    <tr>
      <th>管理者電話番号</th>
      <td><%= @shop.manager_tel %></td>
    </tr>
  </tbody>
</table>
<br/>
<% #if @shop.checkin_items.nil? || @shop.checkin_items.count == 0 %>
<h3>チェックインアイテム <span class="sr">  <%= link_to 'チェックインアイテムを新規に作成する。', new_item_shop_admin_path %></span></h3>
<% #else %>
<table class="item-info" summary="アイテム情報">
  <tbody>
    <tr>
      <th></th>
      <th>アイテム名</th>
      <th>QRコード （このQRコードをコピーしてください）</th>
      <th>利用状況</th>
      <th>チェックイン履歴</th>
      <th>操作</th>
      <th></th>
    </tr>

    <% @shop.checkin_items.each_with_index do |checkin_item,cnt| %>
    <tr>
      <td><%=cnt+1%></td>
      <td><%= checkin_item.item_name %></td>
      <td><p id="qr<%=cnt%>"></p><%= @checkin_url + checkin_item.access_key%></td>
      <td><%= checkin_item.status_message %></td>
      <td>
       <% unless checkin_item.checkin_logs.count == 0 %>        
        <%= link_to "#{checkin_item.checkin_logs.count}件", show_checkinlog_shop_admin_path(checkin_item.access_key) %><br/>
        <%= link_to "csvでダウンロードする", show_checkinlog_csv_shop_admin_path(checkin_item.access_key) %>
       <% else %>
         0件
       <% end %>
      </td>
      <td><%= paypal_checkout(checkin_item) %></td>
      <td>
       <%= link_to "参照", show_item_shop_admin_path(checkin_item.access_key) %>
       <br/>
       <%= link_to "編集", edit_item_shop_admin_path(checkin_item.access_key) %>
       <br/>
       <%= link_to "削除", destroy_item_shop_admin_path(checkin_item.access_key), :confirm=>"削除してもよろしいですか？\nこの動作は取り消せません" %>
      </td>
      <script>
        $('#qr<%=cnt%>').qrcode({width: 96,height: 96,text: "<%= @checkin_url + checkin_item.access_key %>"});
      </script>
    </tr>
    <% end %>
  </tbody>
</table>
<% #end %>
<br/>
<br/>
</div>
</div>

