<h3>チェックインアイテム</h3>
<div>アイテム名称（管理用） <%= @checkin_item.item_name %></div>
<h3>利用情報</h3>
<table class="shop-info" summary="利用情報">
  <tbody>
    <tr>
      <th>利用状況</th>
      <td><%= @checkin_item.status_message %></td>
    </tr>
    <tr>
      <th>利用期限</th>
      <td><%= @checkin_item.limit_date %></td>
    </th>
  </tbody>
</table>
<h3>支払い・解約処理</h3>
<%= paypal_checkout %>

<% if @shop.checkin_items.nil? || @shop.checkin_items.count == 0 %>
  <%= link_to 'チェックインアイテムを作成する。', new_item_shop_admin_path %>
<% else %>
  <% @shop.checkin_items.each_with_index do |checkin_item,cnt| %>
    <div>チェックイン用QRコード</div>
    <br/>
    <div id="qr<%=cnt%>"></div>
    <br/>
    <script>
      $('#qr<%=cnt%>').qrcode({width: 96,height: 96,text: "<%= @checkin_url + checkin_item.access_key %>"});
    </script>

    <div>画像情報</div>
    <div><%= image_tag checkin_item.top_image_url if checkin_item.top_image? %>
    <div><%= image_tag checkin_item.middle_image_url if checkin_item.middle_image? %>
    <div><%= image_tag checkin_item.coupon_image_url if checkin_item.coupon_image? %>
    <br/>
    <div><%= image_tag checkin_item.wall_picture_url if checkin_item.wall_picture? %>
    <br/>
    <div>チェックイン用URL：<%= @checkin_url + checkin_item.access_key %>
    <div>Facebookプレイス情報</div>
    <br/>
    <div><span>fbName：</span><span><%=h checkin_item.fbName %></span></div>
    <div><span>fbCategory：</span><span><%=h checkin_item.fbCategory %></span></div>
    <div><span>fbCountry：</span><span><%=h checkin_item.fbCountry %></span></div>
    <div><span>fbState：</span><span><%=h checkin_item.fbState %></span></div>
    <div><span>fbCity：</span><span><%=h checkin_item.fbCity %></span></div>
    <div><span>fbStreet：</span><span><%=h checkin_item.fbStreet %></span></div>
    <div><span>Title：</span><span><%=h checkin_item.title %></span></div>

    <div>表示情報編集 <%=link_to "編集", edit_item_shop_admin_path(checkin_item.access_key) %></div>
    <div>アイテム削除 <%= link_to '削除', destroy_item_shop_admin_path(checkin_item.access_key), data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
