<% content_for :title do %>チェックインプレイス新規作成<%end%>
<% content_for :javascript_includes do %>
<script type="text/javascript">
$(function(){
  /* 入力例設定 */
  $("input#sfbName").val("例）東京スカイツリー").addClass("example");
  $("input#sfbId").val("例）149655571740038").addClass("example");
  $("input#sfbAcName").val("例）TOKYOSKYTREE").addClass("example");
  $("input#item_name").val("<%= "例)#{@checkin_item_example.title}" %>").addClass("example");  
  $("input#title").val("<%= "例)#{@checkin_item_example.title}" %>").addClass("example");
  $("input#top_image_text").val("<%= "例)#{@checkin_item_example.top_image_text}" %>").addClass("example");
  $("input#middle_image_text").val("<%= "例)#{@checkin_item_example.middle_image_text}"%>").addClass("example");
  $("input#comment_title").val("<%= "例)#{@checkin_item_example.comment_title}" %>").addClass("example");
  $("input#coupon_image_text").val("<%= "例)#{@checkin_item_example.comment_title}" %>").addClass("example");
  $("input#comment_message").val("<%= "例)#{@checkin_item_example.comment_message}" %>").addClass("example");
  $("input#wall_message").val("<%= "例)#{@checkin_item_example.wall_message}" %>").addClass("example");
  $("input#wall_name").val("<%= "例)#{@checkin_item_example.wall_name}" %>").addClass("example");
  $("input#wall_link").val("<%= "例)#{@checkin_item_example.wall_link}" %>").addClass("example"); 
  $("input#wall_caption").val("<%= "例)#{@checkin_item_example.wall_caption}" %>").addClass("example");
  $("input#wall_description").val("<%= "例)#{@checkin_item_example.wall_description}" %>").addClass("example"); 

  /* select 初期値設定 */
  $("select#checkin_item_top_image_select").val(1);
  $("select#checkin_item_middle_image_select").val(2);
});
</script>

<%= javascript_include_tag "jquery.formExample.js" %>
<%end%>
<div class="container">
 <div class="contents">
  <h1>チェックインプレイス新規作成</h1>

  <%= render 'item_form', {:method=>"create_item"} %>
<p>※登録しても、有効にするまで課金は発生しません</p>
  <br/><br/>
  <%= link_to 'トップページに戻る', shop_admin_path %>
 </div>
</div>


