<h1>New checkin_item</h1>

チェックインアイテムの新規作成（管理者用）
<br/>
<%= form_tag(url_for(:controller=> 'shop_admin',:action => 'search'), :remote => true, :id => "result_form") do %>
  名称で検索<%= text_field_tag :name,'', :size=>"60" %><%= submit_tag "名称で検索" %><br/><br/>
<% end %>
<%= form_tag(url_for(:controller => 'shop_admin',:action => 'search_by_fbid'), :remote => true, :id => "result_form") do %>
  FacebookIDで検索<%= text_field_tag :id,'', :size=>"60" %><%= submit_tag "IDで検索" %><br/><br/>
<% end %>

<%= form_for(@checkin_item, :url => { :action => "create_checkin_item" }) do |f| %>

  <div id="result"></div>

  <%= render 'item_form', :f=>f %>

  <div class="actions">
    <%= f.submit "登録"%>
  </div>
<% end %>



