<div data-role="page" data-theme="a">
<div data-role="content" data-theme="a">
 <span class="tCenter"><h1><span id="title"><%= @checkin_item.title %></span></h1></span>
 <p class="tCenter">にチェックインしました。</p>

 <div id="coupon">
  <%= image_tag(@checkin_item.get_coupon_image, :style =>"width:100%; max-width:680px;#{display_img(@checkin_item.coupon_image_select)}", :id=>"coupon_image") %>
  <h2><span id="coupon_image_text" style="<%=display_txt(@checkin_item.coupon_image_select)%>"><%= @checkin_item.coupon_image_text.html_safe %></span></h2>
 </div>
 <br/>
 <div>
  <span id="comment_message"><%= @checkin_item.comment_message.html_safe %></span>
 </div>
 <br/>

 <p>お店のFacebookページにも”いいね”してください</p>
 <a href="https://www.facebook.com/<%=@checkin_item.fbCheckinId%>" data-role="button" data-theme="a" data-icon="star" target="_blank">Facebookページへ</a>

</div>
<div data-role="footer">
</div>
</div>
