
<h2 class="tCenter"><%= h @checkin_item.title %>にチェックインしました。</h2>

<div id="coupon">
<p class="tCenter">
<% case @checkin_item.coupon_image_select
  when 1 %>
<%= image_tag(@checkin_item.coupon_image, :style =>"width:100%; max-width:680px;") if @checkin_item.coupon_image? %>
<% when 2 %>
<%= @checkin_item.coupon_image_text %>
<% end %>
</p>
<br/>
<h2 class="tCenter"><%= h @checkin_item.comment_message %></h2>
<br/>
<p class="tCenter">お店のFacebookページにも”いいね”してください</p>
<br/>
<a href="http://www.facebook.com/<%=@checkin_item.fbUserId%>"><p class="iCenter btn">Facebookページへ</p></a>
<br/>

