<div data-role="page" data-theme="a">
<div data-role="content" data-theme="a">
 <span class="tCenter"><h1><span id="title"><%= @checkin_item.title %></span></h1></span>
 <p class="tCenter">にチェックインしました。</p>

 <div id="coupon">
  <% case @checkin_item.coupon_image_select
     when 1 %>
  <%= image_tag(@checkin_item.coupon_image, :style =>"width:100%; max-width:680px;", :id=>"coupon_image") if @checkin_item.coupon_image? %>
  <% when 2 %>
  <div id="coupon_message">
   <h2><span id="coupon_image_text"><%= @checkin_item.coupon_image_text.html_safe %></span></h2>
  </div>
  <% end %>
 </div>
 <br/>
 <div>
  <span id="comment_message"><%= @checkin_item.comment_message.html_safe %></span>
 </div>
 <br/>

 <p>お店のFacebookページにも”いいね”してください</p>
 <a href="http://www.facebook.com/<%=@checkin_item.fbUserId%>" data-role="button" data-theme="a" data-icon="star">Facebookページへ</a>

</div>
<div data-role="footer">
</div>
</div>
