<div data-role="page" data-theme="a">
 <div data-role="content" data-theme="a">
  <span class="tCenter"><h1><span id="title"><%= @checkin_item.title %></span></h1></span>
  <div id="top">
   <%= image_tag(@checkin_item.get_top_image, :style =>"width:100%; max-width:680px;#{display_img(@checkin_item.top_image_select)}",:id=>"top_image") %>
   <span class="tCenter" id="top_image_text" style="<%=display_txt(@checkin_item.top_image_select)%>"><%= @checkin_item.top_image_text.html_safe %></span>
  </div> 

  <div id="middle">
   <%= image_tag(@checkin_item.get_middle_image, :style =>"width:100%; max-width:680px;#{display_img(@checkin_item.middle_image_select)}", :id=>"middle_image")  %>
   <span class="tCenter" id="middle_image_text" style="<%=display_txt(@checkin_item.middle_image_select)%>"><%= @checkin_item.middle_image_text.html_safe %></span>
  </div>
  <br/>
  <br/>
  <%= form_tag({:action=>:docheckin}, {:name=>:checkin, :class=>:checkin_form, :id=>'checkin'}) do %>
   <%= hidden_field :checkin, :access_key, :value=>@checkin_item.access_key %>
   <div>
    <span class="tCenter" id="comment_title"><%= @checkin_item.comment_title %></span>
   </div>			
   <div data-role="fieldcontain">
    <%= text_area :checkin, :message, :size=>"40x8"%>
   </div>

   <a href="#" <%unless defined?(preview)%>onClick="document.checkin.submit();"<%end%> data-role="button" data-theme="b" data-icon="cog" >チェックイン</a>
  <% end %>
 </div>
 <div data-role="footer"></div>
</div>

