<div id="u_0_2r" class="timelineUnitContainer">
<div class="">
<div role="article">
<div class="mainWrapper">
 <div role="article">
  <h5 class="uiStreamMessage userContentWrapper">
   <span class="messageBody">
    <div>
     <span id="wall_message" class="userContent"><%= @checkin_item.wall_message.html_safe %></span>
    </div>
   </span>
  </h5>
  <div class="mvm uiStreamAttachments fbMainStreamAttachment">
   <div>
    <div class="shareRedesign -cx-PRIVATE-ogAttachmentButtons__container">
     <div class="clearfix shareRedesignContainer">
      <a aria-hidden="true" class="shareMediaLink shareRedesignMedia -cx-PRIVATE-uiImageBlock__image lfloat">
<!--
       <img id="wall_picture" style="background-image: url(<%= @checkin_item.get_wall_picture %>);" src="<%= @checkin_item.get_wall_picture %>" class="shareMediaPhoto img">
-->
       <img id="wall_picture" style="background-image: url(<%= @checkin_item.get_wall_picture %>);" src="<%= @checkin_item.get_wall_picture %>" class="shareMediaPhoto img">

      </a>
      <div class="-cx-PRIVATE-uiImageBlock__content -cx-PRIVATE-uiFlexibleBlock__flexibleContent">
       <div class="pam shareText shareTextContainsHTML">
       <div class="attachmentText fsm fwn fcg">
        <a href="<%= @checkin_item.wall_link.presence || '#' %>" id="wall_link">
         <div class="uiAttachmentTitle">
          <strong>
            <span id="wall_name"><%= @checkin_item.wall_name %></span>
          </strong> 
         </div>
        </a>
        <span id="wall_caption" class="caption"><%= @checkin_item.wall_caption %></span>
        <div id="wall_description" class="mts uiAttachmentDesc translationEligibleUserAttachmentMessage"><%= @checkin_item.wall_description %></div>
       </div>
      </div>
     </div>
    </div>
    <div class="shareRedesignTopBorder"></div>
    <div class="shareRedesignRightBorder"></div>
    <div class="shareRedesignBottomBorder"></div>
   </div>
  </div>
 </div>
</div>
</div>
</div>
</div>
