<!DOCTYPE html>
<html>
<head>
  <title>Checkpass</title>
<!--
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
-->
  <%= stylesheet_link_tag    params[:controller], :media => "all" %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="out">

<%= yield %>

</div>
</body>
</html>
