<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title%>|Checkpass管理</title>
  <%= stylesheet_link_tag    params[:controller], :media => "all" %>
  <%= yield :stylesheet_includes %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="out">

<%= yield %>

</div>
<a href="/policy.html" target="_blank">利用規約</a><br/>
運営会社：エクスチュア株式会社<br/>
</body>
</html>
